@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.titles {
  height: 1350px;
  background: linear-gradient(0deg, #1c2a34 100%, #111a20 100%);
  font-family: "Poppins", sans-serif;
  color: white;
  flex-direction: column;
  padding: 1rem 4rem;
  text-align: center;
}

  .title-text {
  padding: 64px 0px 30px 0px;
  font-size: 64px;
}

.title-Subtext {
  font-size: 28px;
}
