.articles {
  min-height: 100vh;
  background: linear-gradient(0deg, #1c2a34 100%, #111a20 100%);
  padding: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: justify; /* Выравнивание по обзацу */
  padding-left: 350px;
}

.article-content {
  margin-top: 2rem;
}

.articles a {
  text-decoration: none;
  color: #5E8CA7;
}

.articles a:hover {
  color: #56f781;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .articles {
    padding: 1rem;
  }
  
  .article-content {
    margin-top: 1rem;
  }
}

/* Адаптивность для планшетов */
@media (max-width: 992px) {
  .articles {
    padding: 1.5rem;
  }
}
