@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

li {
  list-style: none;
}

.bg-header {
  background: linear-gradient(0deg, #1c2a34 100%, #111a20 100%);
}

.nav {
  padding: 20px;
}

.items {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin-right: 120px;
  font-size: 25px;
  color: white;
}

.nav-links {
  color: white;
  text-decoration: none;
}

.nav-links:hover {
  transform: scale(1.2);
  transition: 0.7s;
  color: white;
}

.brands {
  margin-left: 160px;
  font-size: 25px;
  color: white;
}

.brands:hover {
  transform: scale(1.2);
  transition: 0.7s;
  color: white;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 576px) {
  .nav {
    padding: 10px;
  }

  .items {
    margin-right: 20px;
    font-size: 20px;
  }

  .brands {
    margin-left: 40px;
    font-size: 20px;
  }
}

/* Адаптивность для планшетов */
@media (max-width: 768px) {
  .items {
    margin-right: 40px;
  }

  .brands {
    margin-left: 60px;
  }
}

/* Адаптивность для небольших ноутбуков и планшетов */
@media (max-width: 992px) {
  .items {
    margin-right: 60px;
  }

  .brands {
    margin-left: 80px;
  }
}
